<!-- Modal -->
<div class="modal fade" id="reassignModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Reassign Task</h5>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>
      <form id="reassign-form" action="." method="post"> {% csrf_token %}
        <div class="modal-body">
          {% if form.errors %}
          <div class="alert alert-warning">
            <h4 class="alert-heading">Unable to reassign task</h4>
            {{ form.email.errors }}
            {{ form.id.errors }}
          </div>
          {% endif %}
          <p class="model-text">Enter the email for the user you would like to reassign this task to.</p>
            <div class="form-group">
              <label for="{{ form.id.id_for_label }}" class="col-form-label">Task ID:</label>
              {% load home_extras %}
              {{ form.id|addcss:"form-control"}}
              <label for="{{ form.email.id_for_label }}" class="col-form-label">Email:</label>
              {{ form.email|addcss:"form-control" }}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" name="reassign-task">Reassign</button>
        </div>
      </form>
    </div>
  </div>
</div>