{% extends "base.html" %}

{% block title %}Simply Todo - Password Reset{% endblock %}

{% block content %}

<section class="bg-dark text-white text-center registration-header">
  <div class="container">
    <h1>Simply Todo - Password Reset</h1>
  </div>
</section>

<section class="form-section">
  <div class="container registration-width">
    {% if validlink %}
    <form method="post" action="">
      <div style="display:none">
        <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
      </div>
      {% load widget_tweaks %}
      <div class="form-group">
        {{ form.new_password1.errors }}
        {{ form.new_password1.label_tag }} {{ form.new_password1|add_class:"form-control" }}
      </div>
      <div class="form-group">
        {{ form.new_password2.label_tag }} 
        {{ form.new_password2.errors }}
        {{ form.new_password2|add_class:"form-control" }}
      </div>
          
      <button type="submit" class="btn btn-secondary btn-block">Update Password</button>
    </form>
    {% else %}
    <div class="text-center">
      <h1>Hmmm... Password reset failed</h1>
      <h4>The password reset link was invalid. Was it already used?</h4>
    </div>
    {% endif %}
  </div>
</section>

{% endblock %}