{% extends "base.html" %}

{% block title %}Simply Todo - Password Reset{% endblock %}

{% block content %}

<section class="bg-dark text-white text-center registration-header">
  <div class="container">
    <h1>Simply Todo - Password Reset</h1>
  </div>
</section>

<section class="form-section">
  <div class="container registration-width">
    {% if form.email.errors %}
    <div class="alert alert-warning">
      {{ form.email.errors }}
    </div>
    {% endif %}
    <form method="post" action="">
      {% csrf_token %} {% load widget_tweaks %}
      <div class="form-group">
        {{ form.email.label_tag }} {{ form.email|add_class:"form-control" }}
      </div>

      <button type="submit" class="btn btn-secondary btn-block">Reset Password</button>
    </form>
  </div>
</section>

{% endblock %}