{% extends "base.html" %}

{% block title %}Simply Todo - Password Reset{% endblock %}

{% block content %}

<section class="bg-dark text-white text-center registration-header">
  <div class="container">
    <h1>Simply Todo - Password Reset</h1>
  </div>
</section>

<section class="form-section">
  <div class="container registration-width text-center">
    <h2>Password reset instructions are on the way!</h2>
    <h4>If they haven't arrived in a few minutes, check your spam folder.</h4>
  </div>
</section>
{% endblock %}