body {
  font-family: 'Source Sans Pro';
}
  
.bg-dark {
  background-color: #18453B !important;
}

a.navbar-brand {
  font-weight: bold;
}

.content-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

input[readonly].form-control {
  background-color: #fff;
}

.navbar-nav > li.navbar-right {
  float: right !important;
}

.form-section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.registration-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
