<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="SimplyTodo">
    <meta name="author" content="Austin Evans">

    <!-- Bootstrap Core CSS -->
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" rel="stylesheet" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Custom CSS -->
    {% load static %}
    <link href="{% static 'css/primary.css' %}" rel="stylesheet">

    <title>{% block title %}Simply Todo{% endblock%}</title>
  </head>
  <body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'index' %}">Simply Todo</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <!-- Nav bar items here -->
        <ul class="nav navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="navbar-right">
              <a class="nav-link" href="">{{ user.get_username }}</a>
            </li>
            <li class="navbar-right">
              <a class="nav-link active" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            </li>
          {% else %}
            <li class="navbar-right">
              <a class="nav-link active" href="{% url 'login'%}">Login</a>
            </li>
          {% endif %} 
        </ul>
      </div>
    </nav>
    {% endblock %}
    <div class="content">
      {% block content %}
      <section class="content-section">
        <div class="container text-center">
          <div class="alert alert-warning" role="alert">
            <a class="text">This page is under construction.</a>
          </div>
        </div>
      </section>
      {% endblock %}
    </div>
    <!-- Footer -->
    <!-- HTML and CSS for footer adapted from https://tutorialzine.com/2016/10/freebie-5-fantastic-bootstrap-footers -->
    <footer id="myFooter">
      <div class="footer-copyright">
        <p>Created at Michigan State University for Network Management and Security (MI 361) by Team Homeland Lightning Enchiladas.</p>
      </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% load static %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static 'js/primary.js' %}"></script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>